<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<clear/>
		<add name="BD" providerName="System.Data.SqlClient"
		connectionString="Server=localhost;Database=pastelaria_db;Uid=pastelaria;Pwd=Pastelao123;" />
	</connectionStrings>
	
	<appSettings>
		<add key="IdiomaRegiao" value="en-US"/>
	</appSettings>
</configuration> 