<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<clear/>
		<add name="BD" providerName="MySql.Data.MySqlClient"
		connectionString="Server=127.0.0.1;port=3306;Database=pastelaria_db;Uid=root;Pwd=abcBolinhas123;" />
	</connectionStrings>
	
	<appSettings>
		<add key="IdiomaRegiao" value="en-US"/>
	</appSettings>
</configuration> 